/*CONTACTO*/

/*VARIABLES*/ 
@import "variables";

.sectionContacto {
    margin: $sectionMarg;
    font-size: 2rem;
    h1 {
        text-align: center;
    }
}
.formContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 500px;
        margin: 5px;
        color: black
    }
    textarea {
        resize: none;
        width: 500px;
        margin: 5px;
    }
}
.pieContacto {
    display: none;
}

@media screen and (max-width: 768px) {

    .sectionContacto {
        margin-bottom: 15px;
        font-size: 1.8rem;
    }
    .formContacto {
        input {
            width: 400px;
        }
        textarea {
            width: 400px;
        }
    }
    .pieContacto {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-top: 30px;
        li {
            list-style: none;
            margin-right: 0px;
            padding: 3px;
            font-size: 1.1rem;
            i {
                font-size: 1.1rem;
                margin-right: 3px;
            }
        }
    }
}

@media screen and (max-width: 450px) {

    .sectionContacto {
        margin-bottom: 15px;
        font-size: 1.5rem;
    }
    .formContacto {
        input {
            width: 350px;
        }
        textarea {
            width: 350px;
        }
    }
    .pieContacto{
        li {
            font-size: 1.3rem;
            i {
                font-size: 1.3rem;
            }
        }
    }    
    .listContacto1 {
        width: 60%;
        ul {
            width: 100%;
            text-align: start;
        }
    }
    .listContacto2 {
        width: 40%;
        ul {
            width: 100%;
            text-align: start;
            padding-left: 0px;
        }
    }
}
