/*CONTACTO*/

/*VARIABLES*/ 
@import "variables";

.sectionContacto {
    margin: $sectionMarg;
    font-size: 2rem;
    h1 {
        text-align: center;
    }
}

.formContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    input {
        width: 500px;
        margin: 5px;
    }
    textarea {
        resize: none;
        width: 500px;
        margin: 5px;
    }
}
.redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -150px;
    li {
        list-style: none;
        i {
        padding: 5px;
        font-size: 40px;
        color: white;
        }
    }
}

@media screen and (max-width: 768px) {

    .sectionContacto {
        margin-bottom: 15px;
        font-size: 1.8rem;
    }
    .formContacto {
        input {
            width: 400px;
        }
        textarea {
            width: 400px;
        }
    }
    .redesSociales {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 15px;
        li {
            display: inline;
            }
        }
}

@media screen and (max-width: 450px) {

    .sectionContacto {
        margin-bottom: 15px;
        font-size: 1.5rem;
    }
    .formContacto {
        input {
            width: 350px;
        }
        textarea {
            width: 350px;
        }
    }
}