/*MODULOS*/
@import "menu";
@import "inicio";
@import "mesaDirectiva";
@import "nuestrosConcejales";
@import "contacto";
@import "footer";

/*VARIABLES*/ 
@import "variables";

/*GENERAL*/
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color: rgb(213, 34, 48) !important;
    width: 100%;
    height: 100vh;
    h1 {
        font-size: 5rem;
    }
}

/*RESPONSIVE*/
@media screen and (max-width: 375px) {

/*MENU*/
.menuIndexIcon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 51, 51);
    color: white;
    font-weight: 500;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    li {
        display: inline;
        text-decoration: none;
        a {
        color: white;
        text-decoration: none;
        }
      }
}
.menuIndex {
    display: none;
}

/*INICIO*/
.carousel {
    margin-bottom: 15px;
}

/*MESA DIRECTIVA*/ 
.spanSectionMesa {
    display: flex;
    flex-direction: column;
}
.txtAutoridades {
    margin-top: 15px;
}

/*FOOTER*/
.sectionFooter {
    display: none;
}
}
