/*INICIO*/

.sectionIndex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-size: 2rem;
}
.textoIndex {
    margin-top: 15px;
    text-align: center;
    padding: 0 50px 0 50px;
}
h1 {
    text-align: center;
}
.caruselInicio {
	max-width: 700px;
    max-height: 700px;
	margin:50px auto 0;
	overflow: hidden;
    ul {
	    display: flex;
	    padding: 0;
	    width: 400%;	
	    animation: slide 20s infinite alternate ease-in-out;
    }
    li {
	width: 100%;
	list-style: none;
    }
    img {
	width: 100%;
    }
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

@media screen and (max-width: 768px) {

        .sectionIndex {
        font-size: 1.8rem;
    }
    .caruselInicio {
        max-width: 550px;
        max-height: 550px;
    }
}

@media screen and (max-width: 450px) {

    .sectionIndex {
        font-size: 1.5rem;
    }
    .caruselInicio {
        max-width: 400px;
        max-height: 400px;
    }
    
}
