/*MESA DIRECTIVA*/

/*VARIABLES*/
@import "variables";

.sectionMesa {
    display: flex;
    flex-direction: column;
    margin: $sectionMarg;
    font-size: 2rem;
}
.txtMesaAutoridades {
    text-align: center;
}
.sectionAutoridades {
    margin-top: 15px;
}
.spanSectionMesa {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    img {
        width: 200px;
        height: 150px;
    }
}
.txtAutoridades {
    margin-left: 15px;
    font-size: 2rem;
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .spanSectionMesa {
        display: flex;
        flex-direction: column;
    }
    .txtAutoridades {
        margin-top: 15px;
    }
    .txtAutoridades {
        margin-left: 0px;
        font-size: 1.8rem;
        h3 {
            font-size: 1.8rem;
        }
        h4 {
            font-size: 1.8rem;
        }
    }
    .sectionMesa {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 450px) {

    .txtAutoridades {
        margin-left: 0px;
        font-size: 1.5rem;
        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1.5rem;
        }
    }
    .sectionMesa {
        font-size: 1.5rem;
    }
}