/*NUESTOS CONCEJALES*/

/*VARIABLES*/ 
@import "variables";

.scetionConcejales {
    display: flex;
    flex-direction: column;
    margin: $sectionMarg;
    font-size: 2rem;
}
.txtConcejales {
    text-align: center;
}
.listadoConcejales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}
.concejales {
    display: flex;
    flex-direction: column;
    width: 33%;
    img {
        width: 200px;
        height: 150px;
    }
}
.txtConcejal {
    padding-top: 15px;
    h3 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .listadoConcejales {
        display: flex;
        flex-direction: column;
    }
    // .concejales {
    //     display: flex;
    //     flex-direction: row;
    // }
    .scetionConcejales {
        font-size: 1.8rem;
    }
    .txtConcejal {
        h3 {
            font-size: 1.8rem;
        }
    }
}
@media screen and (max-width: 450px) {

    .scetionConcejales {
        font-size: 1.5rem;
    }
    .txtConcejal {
        h3 {
            font-size: 1.5rem;
        }
    }

}